/* silkscreen-regular - latin */
@font-face {
    font-family: 'Silkscreen';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/silkscreen-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/silkscreen-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/silkscreen-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/silkscreen-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/silkscreen-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/silkscreen-v1-latin-regular.svg#Silkscreen') format('svg'); /* Legacy iOS */
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}
label{
    padding: 0.375rem 0.75rem;
}
table {
    empty-cells:show;
}
td{
    width:27px;
    height:31px;
}
.cell-btn{
    width:25px;
    height:25px;
    padding: 0px;
    display: inline-block;
    background-color: Lightgray;
}
.cell-btn:hover{
    background-color: gray;
}
.silkscreen{
    font-family: 'Silkscreen', 'sans-serif';
}
.rotate-45{
    transform: rotate(45deg);
}
.accordion-button::after {
    background-image: url("img/up.svg");
}
.accordion-button:hover::after {
    background-image: url("img/up.svg");
}
.accordion-button:not(.collapsed)::after {
    background-image: url("img/up.svg");
}